*{
  background: rgb(25, 25, 25);
  font-family: arial;
  color: white;
}
.title{
  font-size: 30px;
  color: #fff;
  font-weight: bold;
}
.btn{
  height: 120px;
  width: 120px;
  border-radius: 100px;
  font-size: 10px;
  border: 3px solid white;
  margin-right: 10px;
  cursor: pointer;
}
.btn img{
  height: 50px;
}

.result{
  font-size: 30px;
  font-weight: bold;
  margin-top: 50px;
}
.score{
  margin-top: 60px;
}

.btn2{
background-color: white;
border: none;
font-size: 15px;
color: black;
padding: 8px 15px;
cursor: pointer;
}


.btn3{
  height: 50px;
  width: 50px;
}
